$fontBeautifulMinds: "beautiful_mindsserif_one";
$fontAktivGrotesk: aktiv-grotesk, sans-serif;

$fontWeightBold: 700;

$colorLight: #ffffff;
$colorPrimary: #d8ac9f;
$colorText: #53565a;
$colorLightRedBG: #fdede5;
$colorRedAccent: #c26e60;

$clamp1416: clamp(0.875rem, 2.5vw, 1rem);
$clamp1622: clamp(1rem, 2.5vw, 1.375rem);

// Font Beautiful Minds
@font-face {
	font-family: "beautiful_mindsserif_one";
	src: url("../fonts/bminds-one-webfont.woff2") format("woff2"),
		url("../fonts/bminds-one-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	font-family: aktiv-grotesk, sans-serif;
}

h1 {
	font-family: $fontBeautifulMinds;
	font-weight: $fontWeightBold;
}

p {
	line-height: 2em;
	font-size: 0.875rem;
	font-size: $clamp1416;
}
